 @import url(./themify-icons.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url(./responsive.css);
@font-face{
  src: url(./Oswald/Oswald-VariableFont_wght.ttf);
  font-family: "osward";
} 
section {
    padding: 55px 0;
}
.secondary-title {
    font-size: 17px;
    opacity: 0.7;
    margin-bottom: 15px;
}
.small-header .title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
}
  
.small-header {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #d8f9f2 !important;
}
.small-header li,a{
    list-style: none;
    text-decoration: none;
}
.control:focus {
    border-color: #c2f6ea;
}
  
.control{
    height: 30px;
    line-height: 35px;
    font-size: 13px;
}
  
.control {
    font-size: 16px;
    height: 50px;
    line-height: 60px;
}
select.control,
textarea.control {
  line-height: 1.5;
}
.bold-option{
    font-weight: 200;
}
h1{
    text-transform:capitalize;
    color: rgb(0, 255, 191);
    font-family: "themify";
}
.crumb {
    font-size: 0.9rem;
  }
 .non-active a {
    color: white;
    text-decoration: none;
   
  }
  li.non-active{
     height:100%;
     width: 150%;
     background-color: rgb(0, 255, 191);
     transition: background-color 10s !important;
     align-items: center;
     justify-content: center;
     padding-top: 30%;
  }
li.non-active:hover{
    background-color: cadetblue;
    transition: all 1s;
}
.active{
    border-bottom: 1px solid black;
    padding-top: 30%;
}
.active a{
    color: black !important;
    padding-top: 70%;
}
.active:hover{
  border-bottom: 1px solid cadetblue;
}
.active a:hover{
  color:cadetblue !important;
}
hr {
    margin: 10px 0 25px;
  }
.crumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0.55rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0rem;
    font-size: larger;
    font-weight: bold;
    font-family: "themify";

  }
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
 }
nav.secondnav{
background-image:linear-gradient(-62deg,rgb(240, 7, 213),#abd2ab,rgb(229, 226, 138),rgb(239, 121, 121),rgb(146, 220, 247),rgb(238, 186, 57));
 padding: 10px;
 top: 0;
 z-index: 1020;
 height: 40px;
 min-height: 60px;
 font-weight: 400;
 background-color: black;
 position: sticky;
} 
div.container-nav1{
  display: inline;
  background-color:black;
  border-bottom: 4px solid black;
  display: inline;
  padding-top: 5%;
}
div.logo img{
  height: 70px;
  width:  70px;
  padding-left: 20px;
}
div.socials{
  float: right;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  padding-top: 25px;
}
div.logo{
  float: left;
  width: 150px;
  height: 150px;
} 
div.socials img{
  width: 20px;
  height: 20px;
  background-color: white;
}
.firstnav{
  padding: 10px;
  height: 75px;
  width: 970;
  background-color:white;
}
.container-nav2{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
}
.github img{
  width: 28%;
  height: 28%;
}
.special{
  width: 120%;
  height: 120%;
}
#home{
  font-family: "osward";
  background-color: black;
  box-sizing: border-box;
}
.img1{
  height: 450px;
  background: url(./images/Beauty\ Of\ Nature🍀🐞🌲\ on\ Twitter\ _\ Fond\ d\'ecran\ pastel\,\ Fond\ d\'écran\ coloré\,\ Fond\ d\'écran\ téléphone.jpeg) center no-repeat;
}
.feautured-post img{
   width: 201px;
   height: 167px;
   padding: 0;
}
.posts{
  display: flex;
  justify-content: space-between;
  width: 950px;
  align-items: center;
  padding-left: 6%;
}
.f-caption{
  background-color: rgba(237, 153, 233, 0.5);
  color: black;
  position: absolute;
  top: 112%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 25px;
  text-align: center;
  font-weight: lighter;
  font-family: "osward";
  width: 134px;
  align-self: center;
  align-items: center;
  margin-left: 26px;
  margin-right: 26px;
  padding: 10px;
}
.feautured-post{
  padding: 0;
}
.specialpost{
  height: 167px;
  width: 120px;
  background-color: black;
  background-image:linear-gradient(-62deg,rgb(240, 7, 213),#abd2ab,rgb(229, 226, 138),rgb(239, 121, 121),rgb(146, 220, 247),rgb(238, 186, 57));

}
.f-caption:hover{
  background-color: purple;
}
.hr1{
 margin: 40px 68px 25px;
 width: 950px;
 background-image:linear-gradient(-62deg,rgb(240, 7, 213),#abd2ab,rgb(229, 226, 138),rgb(239, 121, 121),rgb(146, 220, 247),rgb(238, 186, 57));
 background-color: black;
}